*.pyc
external_files
datasets
examples/results
examples/sandbox
*.json
*.DS_Store
*.ipynb
amelio_cp/processing/Features.xlsx
*.txt

amelio_cp/processing/Features15_gps.xlsx

amelio_cp/processing/Features15.xlsx
